In [2]:
import pandas as pd
import numpy as np

# Разница между loc и iloc

Основное отличие состоит в следующем:
* **loc** - получает строки или колонки на основе **метки**
* **iloc** - получает строки или колонки на основе **числовой позиции**

Рассмотрим на следующем примере: создадим два списка букв и зададим объект `DataFrame` с индексами в разном порядке и с двумя колонками `English` и `Russian`. На основе этой таблицы посмотрим как будет осуществляться доступ к различным строкам всей таблицы.

In [19]:
values = np.array([list('abcedf'), list('абвгде')]).T
values

array([['a', 'а'],
       ['b', 'б'],
       ['c', 'в'],
       ['e', 'г'],
       ['d', 'д'],
       ['f', 'е']], dtype='<U1')

In [30]:
df_letters = pd.DataFrame(values, index=[0, 5, 8, 2, 1, 'third'], columns=['English', 'Russian'])
df_letters

      English Russian
0           a       а
5           b       б
8           c       в
2           e       г
1           d       д
third       f       е

Как можно заметить ниже, они вернут абсолютно различные строки. Всё дело в том, что **loc** индексируется по метке - индексу (может быть и строковая), а **iloc** по числовой позиции, прямо как в питоновском списке.

In [31]:
df_letters.loc[1], df_letters.iloc[1]

(English    d
 Russian    д
 Name: 1, dtype: object,
 English    b
 Russian    б
 Name: 5, dtype: object)

Важно отметить, что срезы в loc являются **включительными**, т.е. последний индекс так же учитывается. В то время как iloc работает прямо как обычный питоновский срез, т.е. **невключительно**.

При этом, срез в loc осуществляет по метке, а в iloc по индексам.

In [42]:
df_letters.loc[0:1]

  English Russian
0       a       а
5       b       б
8       c       в
2       e       г
1       d       д

In [40]:
df_letters.iloc[0:1]

  English Russian
0       a       а

Следующие две записи эквивалентны.

In [52]:
df_letters.loc[:8, :'Russian']

  English Russian
0       a       а
5       b       б
8       c       в

In [56]:
df_letters.iloc[:3, :2]

  English Russian
0       a       а
5       b       б
8       c       в